body, main, header, footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: white;
    background-color: #1f1f1f;
}
nav{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding-inline: 11%;
    align-items: center;
    position: fixed;
    background-color: #1f1f1f;
}
#navicon{
    width: 3%;
    height: 5vh;
    margin-left: 11%;
}
#navicon > img, #navicon > a {
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffff;
    height: 5vh;
    text-decoration: none;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 23%;
    margin-right: 8%;
}
.buttons > a{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}
header{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ImageInMain{
    height: 49vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.TextNexToImgMain{
    width: 35%;
}
#Lighter{
    background-color: #2e2e2e;
    display: flex;
    height: 95vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#NameOfParagrah > p {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#NameOfParagrah{
    background-color: solid #676767;
}
.ListOfDevelopers{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.Developer > img{
    background-color: black;
    width: 50%;
    border-radius: 50%;
    height: 12vh;
}
.Developer{
    display: flex;
    width: 12%;
    height: 30vh;
    border: solid #4d4d4d;
    border-width: 2px;
    border-radius: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.4s;
}
.Developer:hover{
    transform: scale(1.25);
    transition: 0.4s;
}
.AboutUs{
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}